.About {
	h1 {
		width: 80%;
		max-width: 600px;
		text-align: left;
		margin: 75px auto 0 auto;
		border-bottom: 1px solid var(--primary_10);
	}

	h2 {
		border-bottom: 1px solid var(--primary_10);
		text-align: left;
		width: 80%;
		max-width: 600px;
		margin: 2rem auto;
	}

	p {
		width: 80%;
		margin: 2rem auto;
	}

	p:not(.tableOfContentsLI),
	li:not(.tableOfContentsLI) {
		line-height: 2rem;
	}

	a {
		text-decoration: underline;
		color: var(--primary_100);
		cursor: pointer;
	}

	blockquote {
		margin: 2rem auto;
		min-width: 250px;
		width: 60%;
		max-width: 600px;
		min-width: min-content;
		background-color: var(--primary_10);
		padding: 1rem;

		p {
			margin: 0;
		}
	}

	ul {
		padding: 2rem 2rem 2rem 3rem;
		width: 80%;
		max-width: 600px;
		margin: auto;
	}

	.olWrapper {
		width: 80%;
		max-width: 600px;
		margin: auto;
	}

	ol {
		list-style: auto;
		margin-left: 2rem;

		li {
			margin: 1rem auto;
		}

		ul {
			padding: 0;
			margin: 0;

			li {
				margin: 1rem auto;
				margin-left: 2rem;
			}
		}
	}
}

.miniHeading {
	font-weight: 600;
	margin-bottom: 1rem;
}

.tipWrapper {
	width: 80%;
	max-width: 600px;
	margin: 1rem auto;
	padding: 1rem;
	border: 1px solid var(--primary_10);
}

.tableOfContents {
	ul li {
		padding: 12px 0;
	}
	a {
		height: 48px;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.copyright {
	border-top: 1px solid var(--primary_10);
	width: 80%;
	max-width: 600px;
	margin: 4rem auto;
	text-align: center;

	p {
		margin: 0.5rem auto;
	}
}

.appControls {
	width: 2rem;
	height: 2rem;
	padding: 0.25rem;
	display: inline-flex;
	flex: none;
	justify-content: center;
	align-items: center;
	cursor: auto;

	img {
		height: 1rem;
		width: 1rem;
	}

	&:active {
		background-color: var(--primary_20);
	}
}

.button {
	margin: auto;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 20px;
	border-radius: 3px;
	// sit above links
	z-index: 1;
}

.indent {
	text-indent: 5ch;
}
