.TextButton {
	background-color: transparent;
	border: 0;
	outline: 0;
	box-shadow: none;
	font-size: 1.1rem;
	color: var(--primary_100);
}

//Broken, not condensed
.splitLine {
	text-align: left;
	width: 100%;
	max-width: 400px;
	display: block;
	min-height: 2rem;
	height: max-content;
	cursor: pointer;
	margin: 0.1rem auto;
	padding: 0.25rem 1rem;
	border-radius: 3px;

	&:active {
		background-color: var(--primary_40);
	}
}

//Broken & condensed
.condensedLine {
	composes: splitLine;
	-ms-word-break: break-all;
	word-break: break-all;
}
