.LearnContainer {
	outline: none;
	&:focus {
		outline: none;
	}
}

.h1 {
	margin: 75px auto;
	border-bottom: 1px solid var(--primary_20);
	width: 80%;
	max-width: 400px;
}

.searchContainer {
	width: 100%;
	max-width: 600px;
	margin: 50px auto 75px;
}

.textAreaContainer {
	/* Allows clamping width between max-content and 600px */
	width: 90%;
	max-width: 600px;
	margin: 50px auto;
}

.errorMessage {
	text-align: center;
	margin: 50px auto;
}

//Not broken, not condensed
.fullText {
	white-space: pre-wrap;
	width: 100%;
	max-width: max-content;
	margin: 0 auto;
}
