.header {
	position: fixed;
	display: block;
	z-index: 100;
	top: 0px;
	margin: 0;
	padding: 0;
	left: 100%;
	width: 150px;
	height: 100vh;
	background-color: var(--dark);
	transition: transform 0.1s ease-out;

	img {
		display: block;
		height: 75px;
		width: 75px;
		margin: 25px auto;
	}
}

.ul {
	list-style: none;
	width: 90%;
	margin: auto;
}

.li {
	width: max-content;
	margin: 1rem auto;
}

.link {
	margin: 0;
	color: var(--light);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.menuOpen {
	transform: translateX(-150px);
}
