.button {
	position: fixed;
	display: block;
	z-index: 100;
	border: none;
	outline: none;
	text-decoration: none;
	background-color: var(--dark);
	color: var(--light);
	cursor: pointer;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	box-shadow: none;
	border-radius: 1px;
	font-size: 1rem;
	border-radius: 3px;

	top: 10px;
	right: 10px;
	width: 35px;
	height: 35px;

	&:active {
		background-color: var(--toggleLight);
	}

	transition: transform 0.1s ease-out;
}

.menuOpen {
	transform: translateX(-150px);
}

.span {
	position: absolute;
	display: block;
	height: 1.5px;
	width: 70%;
	left: 15%;
	border-radius: 5px;
	background-color: var(--light);

	transition: transform 0.5s;
}

.span1 {
	composes: span;
	top: 27%;
}

.span1Open {
	transform: translateY(7px) rotate(45deg);
}

.span2 {
	composes: span;
	top: 48.1%;
}

.span2Open {
	opacity: 0;
}

.span3 {
	composes: span;
	top: 70%;
}

.span3Open {
	transform: translateY(-7px) rotate(-45deg);
}
