.mostRecentContainer {
	margin: 1rem auto;
	background-color: var(--primary_20);
	width: 100%;
	max-width: 300px;

	summary {
		padding: 0.6rem;
		border-bottom: 2px solid var(--primary_10);
		cursor: pointer;
	}
}

.mostRecentList {
	width: min-content;
	padding: 1rem 0;
	display: flex;
	flex: none;
	flex-direction: column;
	justify-content: space-evenly;
}

.mostRecentListItem {
	width: max-content;
	margin: 0;
	list-style: none;

	button {
		margin: 0.5rem 1rem;
	}
}

.listButton {
	padding: 0.5rem;
	text-decoration: underline;
	cursor: pointer;
}
