.h1 {
	margin: 75px auto 2rem;
	border-bottom: 1px solid var(--primary_20);
	width: 80%;
	max-width: 400px;
}

.note {
	max-width: 400px;
}

.root {
	padding: 2rem;
	border-radius: 3px;
	width: 80%;
	max-width: 400px;
	margin: 2rem auto;
	display: flex;
	flex: none;
	flex-direction: column;
}

.inputWrapper {
	width: 80%;
	max-width: 400px;
	padding: 2rem;
	margin: auto;
}

.userMessage {
	text-align: center;
	color: var(--primary_100);
}

.submit {
	border-radius: 3px;
	margin: 2rem auto;

	&:focus {
		outline: 1px solid var(--primary_100);
		outline-offset: 5px;
	}
}

.disabled {
	pointer-events: none;
	color: var(--primary_30);

	&:focus {
		background-color: var(--primary_10);
	}
}
