.form {
	width: 90%;
	margin: 50px auto;
	display: flex;
	flex: none;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: center;
}

.search {
	height: 42px;
	position: relative;
	width: 3rem;
	display: block;
	border: none;
	outline: none;
	margin: 0;
	text-decoration: none;
	background-color: var(--dark);
	color: var(--light);
	cursor: pointer;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	box-shadow: none;
	padding: 0.75rem;
	border-radius: 1px;
	margin: 2px;
	font-size: 1rem;
	border-bottom: 1px solid #111111;

	&:active {
		background-color: var(--background);
	}

	display: flex;
	flex: none;
	justify-content: center;
	align-items: center;

	img {
		margin: 0;
		padding: 0;
		height: 1.25rem;
		z-index: 1; /* preventing icon overlap */
	}
}

.message {
	text-align: center;
}

.textAreaContainer {
	/* Allows clamping width between max-content and 600px */
	width: 90%;
	max-width: 600px;
	margin: 50px auto;
}

//Not broken, not condensed
.fullText {
	white-space: pre-wrap;
	width: 100%;
	max-width: max-content;
	margin: 0 auto;
}

//Broken, not condensed
.lineBrokenText {
	text-align: left;
	width: 100%;
	max-width: 400px;
	display: block;
	min-height: 2rem;
	height: max-content;
	cursor: pointer;
	margin: 0.1rem auto;
	padding: 0.25rem 1rem;
	border-radius: 3px;

	&:active {
		background-color: var(--toggleLight);
	}
}

//Broken & condensed
.condensedLine {
	composes: lineBrokenText;
	-ms-word-break: break-all;
	word-break: break-all;
}

.copyright {
	padding-top: 1rem;
}

.copyright,
.smallText {
	text-align: center;
	width: 90%;
	max-width: 600px;
	margin: 1rem auto;
}

.smallText {
	font-size: 0.75rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid var(--dark);
}
