.Footer {
	position: fixed;
	bottom: 0;
	height: 90px;
	width: 100%;
	background-color: var(--dark);
}

.ButtonContainer {
	height: 75px;
	width: 100%;

	display: flex;
	flex: none;
	justify-content: center;
	align-items: center;
}

.buttons {
	display: block;
	border: none;
	outline: none;
	margin: 0;
	text-decoration: none;
	background-color: transparent;
	color: var(--light);
	cursor: pointer;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	box-shadow: none;
	padding: 1rem;
	border-radius: 5px;
	margin: 2rem auto;
	font-size: 1rem;

	&:hover {
		background-color: var(--dark);
	}

	display: flex;
	flex: none;
	justify-content: center;
	align-items: center;
}
