.Controls {
	position: fixed;
	bottom: 0;
	height: 95px;
	width: 100%;
	background-color: var(--dark);
	transition: height 0.1s;
}

@media (min-width: 800px) {
	.Controls {
		height: 72px;
	}
}

.recordingContainer {
	position: absolute;
	width: 70px;
	height: 70px;
	background: var(--dark);
	top: -70px;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 35px 35px 0 0;
}

.recordingButton {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 50px;
	height: 50px;
	background: transparent;
	border: 2px solid var(--light);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

.recordingButtonIcon {
	padding: 0;
	margin: 0;
	position: absolute;
	background: red;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	top: 50%;
	left: 51%;
	transform: translate(-50%, -50%);
	transition: all 0.1s;
}

.recordingTrue {
	height: 20px;
	width: 20px;
	border-radius: 3px;
}

.buttonContainer {
	height: 50px;
	width: 100%;
	max-width: 400px;
	margin: 10px auto 0;

	display: flex;
	flex: none;
	justify-content: center;
	align-items: center;
	transition: margin 0.1s;
}

@media (min-width: 800px) {
	.buttonContainer {
		margin: 5px auto 0;
	}
}

.buttons {
	position: relative;
	width: 3rem;
	display: block;
	border: none;
	outline: none;
	margin: 0;
	text-decoration: none;
	background-color: transparent;
	color: var(--light);
	cursor: pointer;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	box-shadow: none;
	padding: 0.75rem;
	border-radius: 5px;
	margin: 2rem auto;
	font-size: 1.1rem;

	&:active {
		background-color: var(--background);
	}

	display: flex;
	flex: none;
	justify-content: center;
	align-items: center;
}

@media (min-width: 800px) {
	.buttons:after {
		content: attr(data-info);
		background-color: var(--light);
		color: var(--dark);
		position: absolute;
		top: 0%;
		transform: translateY(-100%);
		border-radius: 5px;
		padding: 0.5rem;
		opacity: 0;
		transition: opacity 0.2s 0s, z-index 0s 0.2s;
		z-index: -10;
	}

	.buttons:hover:after {
		opacity: 1;
		z-index: 10;
		transition: opacity 0.2s 0.75s, z-index 0s 0.75s;
	}
}

.icon {
	margin: 0;
	padding: 0;
	height: 20px;
	width: 20px;
	z-index: 1; /* preventing icon overlap */
}

.loading {
	composes: icon;
	animation-name: rotateLoad;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.playSpeedButton {
	composes: buttons;
	width: 3.75rem;

	p {
		text-align: center;
		width: 100%;
		margin: auto;
	}
}

@keyframes rotateLoad {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
