.copyright {
	padding-top: 1rem;
}

.copyright,
.smallText {
	text-align: center;
	width: 80%;
	max-width: 600px;
	margin: 1rem auto;
}

.smallText {
	font-size: 0.75rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid var(--dark);
}
