.h1 {
	margin: 75px auto;
	border-bottom: 1px solid var(--dark);
	width: 80%;
	max-width: 400px;
}

.formContainer {
	width: max-content;
	margin: 50px auto 75px;
}

.form {
	width: max-content;
	display: flex;
	flex: none;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: center;
}

.mostRecentContainer {
	margin: 1rem 0.09rem;
	background-color: var(--dark);

	summary {
		padding: 0.6rem;
		border-bottom: 2px solid var(--darker);
		cursor: pointer;
	}
}

.mostRecentList {
	width: min-content;
}

.mostRecentListItem {
	width: max-content;
	margin: 1rem;
	list-style: none;
}

.listButton {
	padding: 0.5rem;
	text-decoration: underline;
	cursor: pointer;
}

.search {
	height: 42px;
	position: relative;
	width: 3rem;
	display: block;
	border: none;
	outline: none;
	margin: 0;
	text-decoration: none;
	background-color: var(--dark);
	color: var(--light);
	cursor: pointer;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	box-shadow: none;
	padding: 0.75rem;
	border-radius: 1px;
	margin: 2px;
	font-size: 1rem;
	border-bottom: 1px solid #111111;

	&:active {
		background-color: var(--background);
	}
	&:focus {
		outline: 1px dotted var(--light);
	}

	display: flex;
	flex: none;
	justify-content: center;
	align-items: center;
}

.searchIcon {
	margin: 0;
	padding: 0;
	height: 1.25rem;
	width: 1.25rem;
}

.textAreaContainer {
	/* Allows clamping width between max-content and 600px */
	width: 90%;
	max-width: 600px;
	margin: 50px auto;
}

//Not broken, not condensed
.fullText {
	white-space: pre-wrap;
	width: 100%;
	max-width: max-content;
	margin: 0 auto;
}

//Broken, not condensed
.lineBrokenText {
	text-align: left;
	width: 100%;
	max-width: 400px;
	display: block;
	min-height: 2rem;
	height: max-content;
	cursor: pointer;
	margin: 0.1rem auto;
	padding: 0.25rem 1rem;
	border-radius: 3px;

	&:active {
		background-color: var(--toggleLight);
	}
}

//Broken & condensed
.condensedLine {
	composes: lineBrokenText;
	-ms-word-break: break-all;
	word-break: break-all;
}

.copyright {
	padding-top: 1rem;
}

.copyright,
.smallText {
	text-align: center;
	width: 80%;
	max-width: 600px;
	margin: 1rem auto;
}

.smallText {
	font-size: 0.75rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid var(--dark);
}
