*,
*:before,
*:after,
html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	--dark: #242423;
	--background: #333533;
	--light: #d9d9d9;
	--toggleLight: var(--toggleLight);

	--h1: 2rem;
	--h2: 1.75rem;
	--h3: 1.5rem;
	--h4: 1.3rem;
	--h5: 1.25rem;
	--h6: 1.2rem;
	--body: 1.1rem;

	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #333533;
	color: #d9d9d9;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

h1 {
	font-size: var(--h1);
	text-align: center;
	width: 90%;
	margin: 2rem auto;
}
h2 {
	font-size: var(--h2);
	text-align: center;
	margin: 2rem auto;
}
h3 {
	font-size: var(--h3);
	text-align: center;
}
h4 {
	font-size: var(--h4);
}
h5 {
	font-size: var(--h5);
}
h6 {
	font-size: var(--h6);
}
div {
	font-size: var(--body);
}
p {
	font-size: var(--body);
	width: 90%;
	max-width: 600px;
	margin: 2rem auto;
}

.button {
	display: block;
	border: none;
	outline: none;
	margin: 0;
	text-decoration: none;
	background-color: var(--dark);
	color: var(--light);
	cursor: pointer;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	box-shadow: none;
	padding: 0.75rem;
	border-radius: 1px;
	margin: 2px;
	font-size: 1rem;

	&:active {
		background-color: var(--toggleLight);
	}
}
